<header class="header">
	<div class="container">
		<div class="py-4 header__inner">
			<div class="header__top">
				<nav class="navbar navbar-expand-lg bg-body-tertiary">
					<div class="container-fluid">
						<a class="navbar-brand text-uppercase" href="/">Movie's Abundance</a>
						<button
							class="navbar-toggler"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#navbarSupportedContent"
							aria-controls="navbarSupportedContent"
							aria-expanded="false"
							aria-label="Toggle navigation"
						>
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								<li class="nav-item">
									<a class="nav-link <%= caption == 'home' ? 'active' : '' %>" aria-current="page" href="/">Home</a>
								</li>

								<li class="nav-item">
									<a class="nav-link <%= caption == 'products' ? 'active' : '' %>" href="/products">Products</a>
								</li>
								<li class="nav-item">
									<a class="nav-link <%= caption == 'contacts' ? 'active' : '' %>" href="/contacts">Contacts</a>
								</li>
								<li class="nav-item">
									<a class="nav-link <%= caption == 'about' ? 'active' : '' %>" href="/about">About</a>
								</li>
								<li class="nav-item">
									<a class="nav-link <%= user ? 'active nav-user' : 'nav-no-user' %>" href="/login">
										<svg>
											<use href="#userSvg" />
										</svg>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link <%= user ? '' : 'd-none' %> <%= caption == 'cart' ? 'active' : '' %>" href="/cart">
										<svg>
											<use href="#cartSvg" />
										</svg>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>
